<% @title = "HonestTown. Find someone. Leave some honesty." %>

<h1>Who are you looking for?</h1>

<div class="well">
	<form action="/results" class="form-group">
		<p>Tip: You may want to enter city to narrow things down.</p>
		<br>
		<input type="text" name="query" autocomplete="off" placeholder="Search..." class="form-control"></input>
		<br>
		<input type="submit" value="Find 'em" class="btn btn-default"  class="form-control"></input>
	</form>
</div>