<div class="well">
	<form action="/tweet" class="form-group">
		<br>
		<input type="text" name="tweetcontent" autocomplete="off" placeholder="Tweet Content.... " class="form-control"></input>
		<br>
		<input type="submit" value="Send Tweet" class="btn btn-default"  class="form-control"></input>
	</form>
</div>