<div class="jumbotron">
		<h1>Welcome to <strong>Honest Town.</strong></h1>
		<h2>Tell your friends what you've always wanted to say.</h2>
</div>

<div class="row">
	<div class="jumbotron">
		<h2>Show your friends that you care. And how terrible they can be.</h2>
		<h3>Completely anonymous, and posts disappear in 30 days.</h3
	</div>
</div>

<div class="well">
	<h1><%= link_to "Find someone + leave 'em some Honesty.", new_person_path %></h1>
</div>

