<div class="container">
	<div class="hero">
		<h1>Welcome to <strong>Honest Town.</strong></h1>
		<h2>Tell your friends what you've always wanted to say.</h2>
	</div>
</div>

<div class="well">
	<h2>Show your friends that you care. And how shitty they can be.</h2>
	<h3>Everything is anonymous + posts disappear after a week</h3>
</div>

<h1><%= link_to "Find someone + leave 'em some Honesty.", new_person_path %></h1>

</div>
